<!DOCTYPE html>
<html lang="en">
<head>
  <title>SlackPosts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <link rel="shortcut icon" type="image/png" href="/img/Icon.png"/>
  <link rel="shortcut icon" type="image/png" href="/img/Icon.png"/>
</head>
<body>


<% include partials/nav.ejs %>



<div class="container">
  </br>
  </br>
  <form action="/CreatePost" method="POST">
    <div class="bg-danger text-white"><%= Error_Message %></div>
    </br>
    <div class="form-group">
      <label for="usr">Title:</label>
      <input type="text" class="form-control" name="post_title">
    </div>

  <div class="form-group">
   <label for="comment">Body:</label>
   <textarea class="form-control" rows="5" name="post_body"></textarea>
  </div>
    <button type="submit" class="btn btn-primary">Post</button>
  </form>

</div>

</body>
</html>
